<!DOCTYPE ejs>
<html>

<head>
    <title>RestaurantIO: User Account</title>
    <link rel="icon" href="/content/images/wallet.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/content/layouts/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="/content/layouts/main.css">

    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading">RestaurantIO:
                <%= pageData.restaurantName %>
            </a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/menu" class="pure-menu-link">Menu</a></li>
                <li class="pure-menu-item"><a href="/tables" class="pure-menu-link">Tables</a></li>
                <li class="pure-menu-item"><a href="/bills" class="pure-menu-link">Bills</a></li>
                <li class="pure-menu-item"><a href="/reports" class="pure-menu-link">Reports</a></li>
                <li class="pure-menu-item pure-menu-selected"><a href="/userAccount" class="pure-menu-link">User
                        Account</a></li>
                <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Log Out</a></li>
            </ul>
        </div>
    </div>
</head>

<body>
    <div id="layout">
        <div id="main">
            <div class="header">
                <h1>Restaurant Management</h1>
                <br />
            </div>

            <ul class="verticalMenu">
                <li><a id="restaurantInfoTab" class="verticalItems active" onclick="restaurantInfoClick()">Restaurant
                        Information</a></li>
                <li><a id="menuSettingsTab" class="verticalItems" onclick="menuSettingsClick()">Menu Settings</a></li>
                <li><a id="tableSettingsTab" class="verticalItems" onclick="tableSettingsClick()">Table Settings</a></li>
            </ul>

            <div style="margin-left:10%;padding:1px 16px;" id="restaurantInfoDiv">
                <form class="pure-form pure-form-aligned" action="/SaveRestaurantInfo" method="post">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="restrauntName">Restaurant Name: </label>
                            <input id="restrauntName" name="restrauntName" type="text" value="<%=pageData.restaurantName%>">
                        </div>

                        <div class="pure-control-group">
                            <label for="restrauntDescription">Brief Description: </label>
                            <input id="restrauntDescription" name="restrauntDescription" type="text" value="<%=pageData.restaurantDescription%>">
                        </div>

                        <div class="pure-control-group">
                            <label for="restrauntLocation">Location: </label>
                            <input id="restrauntLocation" name="restrauntLocation" type="text" value="<%=pageData.restaurantLocation%>">
                        </div>

                        <div class="pure-control-group">
                            <label for="restrauntCuisine">Cuisine: </label>
                            <input id="restrauntCuisine" name="restrauntCuisine" type="text" value="<%=pageData.restaurantCuisine%>">
                        </div>

                        <div class="userAccount-buttons">
                            <button type="submit" class="button-small pure-button">Save</button>
                        </div>

                        <div class="userAccount-buttons">
                            <button class="button-small pure-button" onclick="createStaffAcount('<%= user.RestaurantId %>')">Create staff account</button>
                        </div>

                    </fieldset>
                </form>
            </div>

            <div id="menuSettingsDiv" class="userAccountSpacer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul id="menuFilters" class="menuList"></ul>
                </div>
                <div id="menuSettingsItems" class="menuSettingsItemContainer"></div>
            </div>

            <div id="tableSettingsDiv">
                <div id="addNewTable" class="userAccountSpacer tableSettingsButtonColumn">
                    <button type="submit" class="pure-button pure-button-primary" onclick="addNewTable()">Add New Table</button>
                </div>
                <div id="tableContainer" class="tableSpacer tableSettingsContainer">
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div id="menuAddFilterModal" class="modal">
        <p>
            <h1>Add Filter</h1>
            <form id="addFilterForm" action="/AddNewFilter" method="post">
                <div class="pure-control-group">
                    <label for="filterAddName">Filter Name: </label>
                    <input id="filterAddName" name="filterAddName" type="text" maxlength="21" required>
                </div>
                <br />
                <div class="pure-controls modalButtons">
                    <button id="submit" type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
            </form>
        </p>
    </div>
    <div id="menuEditFilterModal" class="modal">
        <p>
            <h1>Edit Filter</h1>
            <form id="editFilterForm" action="/EditFilter" method="post">
                <div class="pure-control-group">
                    <label for="filterEditName">Filter Name: </label>
                    <input id="filterEditName" name="filterEditName" type="text" maxlength="21" required>
                    <input type="hidden" id="filterId">
                </div>
                <br />
                <div class="pure-controls modalButtons">
                    <button id="submit" type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
            </form>
        </p>
    </div>
    <div id="addMenuItemModal" class="modal">
        <p>
            <h1>Add menu item</h1>
            <form id="addMenuItemForm" class="pure-form pure-form-aligned" action="/AddMenuItem" method="post">
                <div class="pure-control-group">
                    <label for="menuAddName">Item Name: </label>
                    <input id="menuAddName" name="menuAddName" type="text" maxlength="21" required>
                </div>
                <div class="pure-control-group">
                    <label for="menuAddFilter">Filter: </label>
                    <select id="menuAddFilter" name="menuAddFilter"></select>
                </div>
                <div class="pure-control-group">
                    <label for="menuAddPrice">Price: </label>
                    <input id="menuAddPrice" name="menuAddPrice" min="0" value="0.00" step=".01" required>
                </div>
                <div class="pure-control-group">
                    <label for="menuAddCalories">Calories: </label>
                    <input id="menuAddCalories" name="menuAddCalories" type="text" maxlength="21" required>
                </div>
                <div class="pure-control-group">
                    <label for="menuAddDiscount">Discount Item: </label>
                    <input id="menuAddDiscount" name="menuAddDiscount" type="checkbox" maxlength="21"></select>
                </div>
                <div id="addDiscountPercent" class="pure-control-group hiddenElement">
                    <label for="menuAddDiscountPercent">Discount Percent: </label>
                    <input id="menuAddDiscountPercent" name="menuAddDiscountPercent" type="number" min="0" max="100"></select>
                </div>
                <div class="pure-controls modalButtons">
                    <button id="submit" type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
            </form>
        </p>
    </div>
    <div id="editMenuItemModal" class="modal">
        <p>
            <h1>Edit menu item</h1>
            <form id="editMenuItemForm" class="pure-form pure-form-aligned" action="/EditMenuItem" method="post">
                <div class="pure-control-group">
                    <label for="menuEditName">Item Name: </label>
                    <input id="menuEditName" name="menuEditName" type="text" maxlength="21" required>
                </div>
                <div class="pure-control-group">
                    <label for="menuEditFilter">Filter: </label>
                    <select id="menuEditFilter" name="menuEditFilter"></select>
                </div>
                <div class="pure-control-group">
                    <label for="menuEditPrice">Price: </label>
                    <input id="menuEditPrice" name="menuEditPrice" min="0" value="0.00" step=".01" maxlength="21"
                        required>
                </div>
                <div class="pure-control-group">
                    <label for="menuEditCalories">Calories: </label>
                    <input id="menuEditCalories" name="menuEditCalories" type="text" maxlength="21" required>
                </div>
                <div class="pure-control-group">
                    <label for="menuEditDiscount">Discount Item: </label>
                    <input id="menuEditDiscount" name="menuEditDiscount" type="checkbox"></select>
                </div>
                <div id="editDiscountPercent" class="pure-control-group hiddenElement">
                    <label for="menuEditDiscountPercent">Discount Percent: </label>
                    <input id="menuEditDiscountPercent" name="menuEditDiscountPercent" type="number" min="0" max="100"></select>
                </div>
                <div class="pure-controls modalButtons">
                    <button id="submit" type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
                <input type="hidden" id="menuItemId">
            </form>
        </p>
    </div>
    <div id="editTableCapacityModal" class="modal">
        <p>
            <h1>Edit table capactiy</h1>
            <form id="editTableCapacityForm" class="pure-form pure-form-aligned" action="/EditMenuItem" method="post">
                <div class="pure-control-group">
                    <label for="tableCapacity">Capacity: </label>
                    <input id="tableCapacity" name="tableCapacity" type="number" min="1" max="99" required>
                </div>
                <div class="pure-controls modalButtons">
                    <button id="submit" type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
                <input type="hidden" id="tableId">
            </form>
        </p>
    </div>
    <input id="restaurantId" type="hidden" value="<%= user.RestaurantId %>">

    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <!--Context menu jquery plugin-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.4/jquery.contextMenu.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.4/jquery.contextMenu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.4/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.4/jquery.ui.position.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.4/jquery.ui.position.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="/content/js/userAccount/userAccount.js"></script>
    <script src="/content/js/userAccount/userAccountContextMenu.js"></script>
    <script src="/content/js/userAccount/userAccountformSubmissions.js"></script>
</footer>

</html>